<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Factor.Properties.Settings.factorConnectionString"
            connectionString="data source=&quot;H:\My Current Project\Programming\C#\Factor\Factor\Factor\bin\Debug\factor.db&quot;"
            providerName="System.Data.SQLite" />
        <add name="Factor.Properties.Settings.factorConnectionString1"
            connectionString="data source=&quot;H:\Current Project\Programming\C#\Factor\Factor\Factor\bin\Debug\factor.db&quot;"
            providerName="System.Data.SQLite" />
    </connectionStrings>
</configuration>